* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background: #333;
  color: white;
  padding: 50px 0;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #444;
}

.background h3 {
  text-align: center;
  color: goldenrod;
  margin-left: 5%;
}

.background h2 {
  color: goldenrod;
  margin-left: 5%;
}

.background {
  background-image: linear-gradient(#172d2d93, #20385e6e),
    url("../image/image500.webp");
  margin-left: 5%;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.big h1 {
  color: goldenrod;
}

.big {
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(#172d2d93, #20385e6e),
    url("../image/image0.jpg");
}

.small {
  margin-left: 5%;
}

.small h2 {
  color: goldenrod;
}

.smaller {
  margin-left: 5%;
}

.smaller h2 {
  color: goldenrod;
}

ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.smaller ul li {
  margin-left: -6%;
}

.pictures img {
  width: 100%;
}

section {
  padding: 40px 0;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

.tony {
  margin-left: 5%;
}

.tony h2 {
  color: goldenrod;
}

.cta .btn {
  display: inline-block;
  background-color: #e64a19;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
}

.cta .btn:hover {
  background-color: #d43f16;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #e64a19;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
